hr.breakline {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

#content {
    background: url("/style/img/contentBackground.jpg") no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-bottom: 100px;
}